@font-face {
    font-family: 'Moderat-Regular';
    src: url('./fonts/Moderat-Regular.woff2') format('woff2'),
         url('./fonts/Moderat-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Moderat-Light';
    src: url('./fonts/Moderat-Light.woff2') format('woff2'),
         url('./fonts/Moderat-Light.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Moderat-Medium';
    src: url('./fonts/Moderat-Medium.woff2') format('woff2'),
         url('./fonts/Moderat-Medium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}


body {
    background-color: rgb(0, 0, 0);
    margin: 0;
    margin-right: auto;
    margin-left: auto;
    font-family: "Moderat-Regular";
    height: 100vh;
}

html, body {
    width: 100%;
    height: 100%;
    overflow-x: hidden;
}

.Banner {
    margin-top: 10px;
    width: 100%;
    overflow: hidden;
    display: flex;
    justify-content: center;
}

.marquee {
    display: flex;
    animation: marquee 20s linear infinite;
    overflow: hidden;
}

.marquee-text {
    font-weight: 400;
    font-size: 15px;
    line-height: 17px;
    color: #FFFFFF;
    white-space: nowrap;
    margin-right: 16px;
    font-family: "moderat-light";
}

@keyframes marquee {
    0% {
        transform: translateX(100%);
    }
    100% {
        transform: translateX(-100%);
    }
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.title{
    width: 328px;
    color: #FFFFFF;
    font-weight: 500;
    font-size: 48px;
    line-height: 57px;
    margin: 0 auto;
    margin-bottom: 30px;
    text-align: center;
}

.millions{
    width: 328px;
    color: #FFFFFF;
    font-size: 16px;
    font-weight: 400;
    text-align: center;
    font-family: "moderat-light";
    margin-bottom: 50px;
    margin: 0 auto;
    margin-bottom: 30px;
    text-align: center;
}

.inputContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.input1{
    width: 328px;
    height: 81px;
    gap: 0px;
    border: none;
    text-align: center;
    background-color: #191919;
    margin-top: 40px;
}

.input1::placeholder {
    color: #818181;
    font-size: 14px;
    line-height: 16px;
}

.input1:focus {
    color: #818181;
    font-size: 14px;
    line-height: 16px;
}

.input1:valid {
    color: #818181;
    font-size: 14px;
    line-height: 16px;
}

.calculate{
    width: 328px;
    height: 49px;
    border-radius: 4px;
    background-color: #FFFFFF;
    color: #191919;
    font-size: 14px;
    line-height: 16px;
    position: absolute;
    bottom: 10px;
    font-family: "moderat-Medium";
    left: 50%;
    transform: translateX(-50%);
}

.resultContainer {
    display: none;
}

.result{
    font-size: 54px;
    font-weight: 500;
    line-height: 57.6px;
    text-align: center;
    color: #FFFFFF;
    margin-top: 12px;
}


.cost{
    font-family: "Moderat-Light";
    width: 328px;
    color: #FFFFFF;
    font-size: 16px;
    font-weight: 500;
    line-height: 16.8px;
    text-align: center;
    
}

.more{
    margin-top: 70px;
    font-family: "Moderat-Light";
    width: 328px;
    color: #FFFFFF;
    font-size: 16px;
    font-weight: 500;
    text-align: center;
}

.try{
    width: 328px;
    height: 49px;
    border-radius: 4px;
    background-color: #FFFFFF;
    color: #191919;
    font-size: 14px;
    line-height: 16px;
    display: block;
    position: absolute;
    bottom: 10px;
    font-family: "moderat-Medium";
}